body{
	font-family: 'Open Sans', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.form {
	width: 700px;
	margin: 0 auto;
	margin-top: 95px;
	display: block;
}
.form-control_label, .form-control_label-name, .form-control_label-phone, .form-control_label-user {
	float: left;	
}
.form-control_label-name, .form-control_label-phone, .form-control_label-user {margin-right: 60px;}
.form-input {
	border: none;
	border-bottom: 1px solid #bbb;
}
.label {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	display:block;
}
.link {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: normal;
	text-align: left;
	color: #53a0fd;
}
.primarybutton {
	padding: 9px 40px 9px 48px;
	border-radius: 5px;
	border-style: none;
	background-color: #53a0fd;
	font-size: 16px;
	font-weight: normal;  
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-right: 15px;
	margin-top: 43px;
}
h4 {
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.32;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.paragraph {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #707070;
	margin-bottom: 38px;
	margin-top: 10px;
}
a:link {
	text-decoration: none;
	margin-left: 10px;
}
.arrow {margin-left: 20px;}
span {
  content: "\2192";
} 
.clear {
	clear:both;
}